.transactionHistory {
    margin: 20px auto 0 auto;
    width: 400px;
    text-align: center;
    color: gray;
    box-shadow: rgba(36, 34, 34, 0.35) 0px 5px 15px;
}

thead {
    color: white;
    background-color: rgb(68, 207, 207);
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(231, 237, 236);
}
